@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Nanum+Gothic+Coding&display=swap');


section {
  width: 100%;
  text-align: center;
  background-color: #080808;
  padding: 2rem;
  border-radius: 12px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 2rem;
  height: 5rem;
}
.navlinks a {
  color: #fff;
  text-decoration: none;
}

.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.navlinks button {
  margin-top: 8px;
  font: inherit;
  cursor: pointer;
  background: #080808;
  border: 1px solid #EC9F05;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}
.navlinks:hover {
  border-color: #fff;
    background: #080808;
}

button {
  width: 8.5rem;
  height: 3rem;
  margin-top: 8px;
  font: inherit;
  cursor: pointer;
  background: #080808;
  border: 1px solid #EC9F05;
  color: #fff;
  text-align: center;
  padding: 0.75rem 2rem;
  border-radius: 20px;
  padding: 2px;

}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #EC9F05;
  border-color: #EC9F05;
}
